.wrapper {
  min-width: 545px;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 8px 25px 8px 5px;
  gap: 80px;
  box-shadow: 5px 10px 18px #f1f1f1;
  cursor: pointer;
}
.wrapper:hover {
  box-shadow: 5px 10px 18px #9b9999;
  transition: 0.5s;
}
.channel-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.channel-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-reactions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 9px;
}
.post-reaction-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 8px;
  border-radius: 8px;
  border: 1px solid rgba(240, 243, 246, 1);
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  color: rgba(100, 116, 139, 1);
  cursor: pointer;
}
.btn-follow {
  border-radius: 16px;
  background-color: rgba(108, 93, 211, 1);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 4px;
  width: 150px;
}
.btn-follow:hover {
  opacity: 0.8;
}
.post-tags {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 11px;
  margin-top: 10px;
}
.post-tag-item {
  font-size: 13px;
  font-weight: bold;
  color: rgba(63, 140, 255, 1);
  padding: 3px 12px;
  background-color: rgb(233, 230, 255);
  border-radius: 8px;
  width: fit-content;
  opacity: 0.9;
  cursor: pointer;
}
.post-tag-item:hover {
  color: rgb(47, 130, 255);
  background-color: rgb(194, 191, 214);
}
