.App {
  font-weight: normal;
  background-color: white;
}

p {
  margin: 0 !important;
}

.custom-dot{
  font-size: 25px;
  color: rgba(255, 117, 76, 1);
  line-height: 0;
}

img {
  object-fit: cover;
}